<div class="page-header">
  <h2>
    Showing <%= finder.resource_name.downcase %>
    <%= finder.pager.page_start %> - <%= finder.pager.page_end %>
    <small>out of <%= finder.pager.total %> <%= finder.applied_filters %></small>
  </h2>
</div>
