<div class="page-header">
  <h3>People</h3>
  <form class="form-inline">
    <select class="form-control group-filter" style='width: 250px'>
      <option>Filter by group...</option>
    </select>
  </form>
</div>

<%= render layout: 'kadmin/components/finder', locals: { finder: @finder } do %>
  <%= render partial: 'admin/people/table', locals: { people: @finder.results } %>
<% end %>

<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "kadmin/select2", media: "all" %>
  <style type="text/css" media="all">
  </style>
<% end %>

<% content_for(:javascripts) do %>
  <%= javascript_include_tag "kadmin/select2" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".group-filter").select2({
        ajax: {
          url: "<%= admin_groups_path %>",
          dataType: 'json',
          delay: 250,
          data: function (params) {
            return {
              q: params.term, // search term
              page: params.page
            };
          },
          processResults: function (data, params) {
            params.page = params.page || 1;
            return {
              results: data.items,
              pagination: { more: data.more }
            };
          },
          cache: true
        }
      });
    });
  </script>
<% end %>
