<% if groups.empty? %>
  <div class="well"><p><%= t('kadmin.nothing_to_show') %></p></div>
<% else %>
  <table class='table table-hover table-striped'>
    <thead>
      <tr>
        <th style='width: 1%'>ID</th>
        <th style='width: 40%'>Name</th>
        <th style='width: 40%'>Owner</th>
        <th style='width: 18%'>Registered</th>
        <th style='width: 1%'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% groups.each do |group| %>
      <tr>
        <td><%= link_to(group.id, admin_group_path(group.id)) %></td>
        <td><%= link_to(group.name, admin_group_path(group.id)) %></td>
        <td><%= group.owner.nil? ? '' : link_to(group.owner.full_name, admin_person_path(group.owner.id)) %></td>
        <td><%= group.created_at %></td>
        <td class="text-center">
          <%=
            dropdown('Actions...', [
              link_to('Edit', edit_admin_group_path(group.id)),
              link_to('Delete', admin_group_path(group.id), method: :delete, data: { confirm: "Are you sure you want to delete [#{group.name}]" })
            ])
          %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
